[flake8]
# Setup of for black compatibility
# (see https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8)
max-line-length = 88
extend-ignore = E203
select = C,E,F,W,B,B950
ignore = E501, B011, W503
